<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="/template/form/layout.xhtml">

<!--            <f:metadata>
                <f:viewParam name="id" value="#{sourceFormController.source.id}" />
                <f:viewAction if="#{not empty param['id']}" action="#{sourceFormController.loadSource(sourceFormController.source.id)}" />
            </f:metadata>

            <ui:param name="formBean" value="#{sourceFormController}"/>
            <ui:param name="context" value="#{i18n['source.context.form']}" />
            <ui:param name="includeDelete" value="true"/>
            <ui:param name="deleteContext" value="#{i18n['source.delete.context']}"/>
            <ui:param name="entityName" value="#{sourceFormController.source.name}"/>
            <ui:param name="entity" value="#{sourceFormController.source}"/>
            <ui:param name="backToList" value="#{request.contextPath}/sources"/>-->

            <ui:define name="workArea" >
<!--                <h:panelGrid cellpadding="5">
                    <ui:decorate template="#{input}">
                        <ui:param name="label" value="#{i18n['source.input.name']}"/><ui:param name="for" value="source"/>
                        <ui:define name="field">
                            <b:inputText id="source" value="#{sourceFormController.source.name}">
                                <f:validator validatorId="requiredValidator"/>
                            </b:inputText>
                        </ui:define>
                    </ui:decorate>      

                    <ui:decorate template="#{input}">
                        <ui:param name="label" value="#{i18n['source.input.type']}"/><ui:param name="for" value="type"/>
                        <ui:define name="field">
                            <b:selectOneMenu id="type" value="#{sourceFormController.source.type}" >
                                <f:selectItems value="#{sourceFormController.types}" var="type" itemLabel="#{i18n[type.description]}" itemValue="#{type}"/>
                            </b:selectOneMenu>
                        </ui:define>
                    </ui:decorate> 
                </h:panelGrid>  -->
            </ui:define>     
        </ui:composition>
    </h:body>
</html>