<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="/template/form/layout.xhtml">

            <f:metadata>
                <f:viewParam name="id" value="#{memberFormController.member.id}" />
                <f:viewAction if="#{not empty param['id']}" action="#{memberFormController.loadMember(memberFormController.member.id)}" />
            </f:metadata>

            <ui:param name="formBean" value="#{memberFormController}"/>
            <ui:param name="context" value="#{i18n['member.context.form']}" />
            <ui:param name="includeDelete" value="true"/>
            <ui:param name="deleteContext" value="#{i18n['member.delete.context']}"/>
            <ui:param name="entityName" value="#{memberFormController.member.nickname}"/>
            <ui:param name="entity" value="#{memberFormController.member}"/>
            <ui:param name="backToList" value="#{request.contextPath}/members"/>

            <ui:define name="workArea" >
                <h:panelGroup>
                    <ui:decorate template="#{input}">
                        <ui:param name="label" value="#{i18n['member.input.nickname']}"/><ui:param name="for" value="nickname"/>
                        <ui:define name="field">
                            <b:inputText id="nickname" value="#{memberFormController.member.nickname}"></b:inputText>
                        </ui:define>
                    </ui:decorate>

                    <ui:decorate template="#{input}">
                        <ui:param name="label" value="#{i18n['member.input.name']}"/><ui:param name="for" value="name"/>
                        <ui:define name="field">
                            <b:inputText id="name" value="#{memberFormController.member.name}"></b:inputText>
                        </ui:define>
                    </ui:decorate>

                    <ui:decorate template="#{input}">
                        <ui:param name="label" value="#{i18n['member.input.ropdAddress']}"/><ui:param name="for" value="ropdAddress"/>
                        <ui:define name="field">
                            <b:inputText id="ropdAddress" value="#{memberFormController.member.ropdAddress}"></b:inputText>
                        </ui:define>
                    </ui:decorate>
                    
                    <ui:decorate template="#{input}">
                        <ui:param name="label" value="#{i18n['member.input.email']}"/><ui:param name="for" value="email"/>
                        <ui:define name="field">
                            <b:inputText id="email" value="#{memberFormController.member.email}" placeholder="#{i18n['mask.email']}">
                                <f:validator validatorId="emailValidator"/>
                            </b:inputText>
                        </ui:define>
                    </ui:decorate>
                </h:panelGroup>    
            </ui:define>     
        </ui:composition>
    </h:body>
</html>