<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="/template/list/layout.xhtml">
            <f:metadata>
                <f:viewAction action="#{memberListController.clear()}" />
            </f:metadata>

            <ui:param name="listController" value="#{memberListController}" />
            <ui:param name="context" value="#{i18n['member.context.list']}" />
            <ui:param value="#{memberListController.page}" name="page"/>
            <ui:param name="includeFooter" value="true"/>

            <ui:define name="workArea" >
                <ui:decorate template="/template/list/table.xhtml">
                    <ui:define name="header">
                        <td style="width: 50px;" class="visible-md visible-lg"><h:outputLabel value="#{i18n['member.list.id']}" /></td>
                        <td style="width: 300px;"><h:outputLabel value="#{i18n['member.list.nickname']}" /></td>
                        <td style="width: 600px;"><h:outputLabel value="#{i18n['member.list.name']}" /> </td>
                        <td style="width: 300px;" class="visible-md visible-lg"><h:outputLabel value="#{i18n['member.list.ropdAddress']}" /> </td>
                    </ui:define>
                    <ui:define name="rows">
                        <ui:repeat value="#{memberListController.items}" var="member" >
                            <ui:param value="#{member}" name="item"/>
                            <ui:param name="clickPath" value="document.location.href = '../member/#{item.id}'"/>
                            <ui:decorate template="/template/list/clickableRow.xhtml" >
                                <ui:define name="columns">
                                    <td style="width: 50px;" class="visible-md visible-lg">#{member.id}</td>
                                    <td style="width: 300px;">#{member.nickname}</td>
                                    <td style="width: 600px;">#{member.name}</td>
                                    <td style="width: 300px;" class="visible-md visible-lg">#{member.ropdAddress}</td>
                                </ui:define>
                            </ui:decorate>
                        </ui:repeat> 
                    </ui:define>
                </ui:decorate>   
            </ui:define>
        </ui:composition>
    </h:body>
</html>