<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition>
            <b:commandButton actionListener="#{listController.search()}" update="@form" value="" class="pull-right" icon="search" style="margin-bottom: 2px; height: 39px"/>    
            <h:inputText class="form-control pull-right" value="#{listController.search}" style="width: 30%; display: inline;"/>
        </ui:composition>
    </h:body>
</html>
