<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition>
            <tr onclick="#{clickPath}" class="clickable">
                <ui:insert name="columns"/>     
                <td style="width: 5%; text-align: right;"><b:iconAwesome name="pencil"/></td> 
            </tr>
        </ui:composition>
    </h:body>
</html>
