<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition>
            <hr/>
            <div class="text-center">
                <b:commandButton actionListener="#{listController.first()}" update="@form" disabled="#{listController.page == 1 or listController.page == null}" value="" style="cursor: default" iconAwesome="angle-double-left"/> 
                <b:commandButton actionListener="#{listController.prev()}" update="@form" disabled="#{listController.page == 1 or listController.page == null}" value="" style="cursor: default" iconAwesome="angle-left"/> 
                <b:button outcome="list" value="#{listController.page > listController.totalPages ? listController.totalPages : listController.page} - #{listController.totalPages}" disabled="true" style="cursor: default"></b:button>      
                <b:commandButton actionListener="#{listController.next()}" update="@form" disabled="#{listController.page == listController.totalPages or listController.totalPages == 0}" value=""  style="cursor: default" iconAwesome="angle-right" />
                <b:commandButton actionListener="#{listController.last()}" update="@form" disabled="#{listController.page == listController.totalPages or listController.totalPages == 0}" value=""  style="cursor: default" iconAwesome="angle-double-right" />
            </div>            
            <h6 class="text-center">
                <h:outputText value="#{listController.firstPageResult}-#{listController.lastPageResult} #{i18n['table.of']} #{listController.totalRows}"/>
            </h6>
        </ui:composition>
    </h:body>
</html>


