<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:body> 
        <ui:composition template="../common/layout.xhtml">
            <ui:define name="sidebar">
                <ui:include src="../common/sidebar.xhtml" />
            </ui:define>
            <ui:define name="content" >                
                <h:form>
                    <h:panelGroup rendered="#{not dontRenderContextButtons}">
                        <b:button rendered="#{not customButtonsOnly}" outcome="form" value="#{i18n['actions.new']}" iconAwesome="plus" style="margin-bottom: 2px"></b:button>  
                        <ui:insert name="additionalButtons"/>
                        <ui:include src="buttons.xhtml"></ui:include>
                        <hr/>
                    </h:panelGroup>
                    <div id="workArea" class="workArea" >
                        <b:messages showSummary="false"/>
                        <ui:insert name="workArea"/>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>