<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition>
            <ui:fragment rendered="#{includeButtons}">  
                <ui:include src="buttons.xhtml"></ui:include>
                <div class="form-group"/>
            </ui:fragment>
            <ui:fragment rendered="#{listController.totalRows == 0}">
                <b:well>
                    <h3 class="text-align-center">
                        <h:outputLabel value="#{i18n['table.noRecords']}"/>
                    </h3>
                </b:well>
            </ui:fragment>
            <ui:fragment rendered="#{listController.totalRows > 0}">
                <table class="table table-striped table-hover" style="margin-bottom: 0px;">
                    <thead>
                        <tr>                        
                            <ui:insert name="header">
                            </ui:insert>
                        </tr>
                    </thead>
                    <tbody>
                        <ui:insert name="rows">         
                        </ui:insert>     
                    </tbody>
                </table>
            </ui:fragment>
            <ui:fragment rendered="#{includeFooter and listController.totalRows > 0}">  
                <ui:include src="footer.xhtml"></ui:include>
            </ui:fragment>
        </ui:composition>
    </h:body>
</html>
