<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition>
            <tr>
                <ui:insert name="columns"/>     
                <td style="text-align: right;">
                    <b:commandButton value="" actionListener="#{formBean.loadView(partyMember.id)}" oncomplete="#{clickPath}" ajax="true" update="#{update}" icon="zoom-in"/>
                </td> 
            </tr>
        </ui:composition>
    </h:body>
</html>
