<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition>
            <b:navBar brand="#{i18n['brand.name']}" inverse="true" brandHref="#{request.contextPath}/" fixed="top" fluid="true">   
                <div class="hidden-sm hidden-md hidden-lg">
                    <b:navbarLinks>
                        <ui:include src="../navigation/headerNavigation.xhtml"/>
                    </b:navbarLinks>
                </div>
            </b:navBar>
        </ui:composition>
    </h:body>
</html>
