<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:body> 
        <ui:composition template="main.xhtml">
            <ui:define name="page">
                <div id="header">
                    <ui:insert name="header" >
                        <ui:include src="header.xhtml" />
                    </ui:insert>
                </div>
                <div id="content" class="content">
                    <ui:insert name="sidebar"/>
                    <b:column col-sm="9" offsetSm="3" col-md="10" offset="2" styleClass="main" style="margin-top: 14px; padding-left: 0px; padding-right: 0px;">  
                        <b:container fluid="true">
                            <div id="context">
                                <h:panelGrid columns="2">
                                    <h:column>
                                        <h:outputText value="#{context}" class="context-title" />
                                    </h:column>
                                    <h:column>
                                        <div style="padding-left: 10px">
                                            <ui:insert name="additionalContext"/>
                                        </div>
                                    </h:column>
                                </h:panelGrid>
                                <hr/>
                            </div>
                            <ui:insert name="content" >
                            </ui:insert>
                        </b:container>
                    </b:column>
                </div>            

                <ui:insert name="delete" >
                    <ui:include src="../delete/modal.xhtml" />
                </ui:insert>

                <div id="footer">
                    <ui:insert name="footer" >
                        <!--                    <ui:include src="/template/common/commonFooter.xhtml" />-->
                    </ui:insert>
                </div>            
                <ui:insert name="additionalModal"/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>