<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head id="header">
        <title>#{i18n['project.name']}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <meta name="author" content="http://www.facebook.com/jose.bonifacio.5"></meta>
        <h:outputStylesheet library="css" name="mugi.css" />
        <h:outputStylesheet library="css" name="toastr.min.css" />
        <h:outputStylesheet library="font-awesome" name="css/font-awesome.min.css"></h:outputStylesheet>
        <h:outputScript library="javascript" name="Chart.min.js"></h:outputScript>
        <h:outputScript library="javascript" name="jquery-2.2.0.min.js"></h:outputScript>
        <h:outputScript library="javascript" name="jquery-ui.min.js"></h:outputScript>
        <h:outputScript library="javascript" name="toastr.min.js"></h:outputScript>
        <h:outputScript library="javascript" name="mugi.js"></h:outputScript>
        <f:facet name="no-fa">true</f:facet>
        <ui:insert name="meta"/>
    </h:head>
    <h:body> 
        <ui:param name="requiredMessage" value="#{i18n['exception.businessException.00003']}"/>
        <ui:param name="input" value="/template/form/input.xhtml"/>
        <div id="page">	 
            <ui:insert name="page"/>
        </div>
        
        <h:outputScript>
            $(document).ready(function() {
                if ('#{flash['success']}' == 'true') {
                    toastr.options = {
                        "positionClass": "toast-bottom-right"
                    }
                toastr.success('#{i18n['messages.saved']}');
                }
            });
       </h:outputScript>
    </h:body>
</html>