<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition>
            <b:container fluid="true">
                <b:row>
                    <b:column col-sm="3" col-md="2" styleClass="sidebar" style="position: fixed">
                        <b:listLinks>
                            <ui:include src="../navigation/headerNavigation.xhtml"/>
                        </b:listLinks>
                    </b:column>           
                </b:row>
            </b:container>

        </ui:composition>
    </h:body>
</html>
