<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition>
            <b:badge value="" />
            <b:label text="" severity="warning"/>
            <b:navLink value="#{i18n['navigation.home']}" 
                       iconAwesome="home"
                       active="#{request.requestURI.contains('/secured/home')}"
                       href="#{request.contextPath}/secured/home.xhtml"/>
<!--            <b:navLink value="#{i18n['navigation.members']}" 
                       active="#{request.requestURI.contains('/member/')}"
                       href="#{request.contextPath}/secured/member/list.xhtml"/>
            <li class = "#{request.requestURI.contains('/party/') ? 'active' : ''}">
                <a href ="#{request.contextPath}/parties">#{i18n['navigation.parties']}
                    <span class ="pull-right badge label-warning">42</span>
                </a>
            </li>
            <b:navLink value="#{i18n['navigation.events']}" 
                       active="#{request.requestURI.contains('/event/')}"
                       href="#{request.contextPath}/secured/event/list.xhtml"/>    -->           
            <b:navLink value="#{i18n['navigation.transactions']}" 
                       iconAwesome="money"
                       active="#{request.requestURI.contains('/transaction/')}"
                       href="#{request.contextPath}/secured/transaction/list.xhtml"/>    
            <b:navLink value="#{i18n['navigation.plannedEntries']}"
                       iconAwesome="calendar-plus-o"
                       active="#{request.requestURI.contains('/plannedEntry/')}"
                       href="#{request.contextPath}/secured/plannedEntry/list.xhtml"/>    
            <b:navLink value="#{i18n['navigation.transfers']}" 
                       iconAwesome="exchange"
                       active="#{request.requestURI.contains('/transfer/')}"
                       href="#{request.contextPath}/secured/transfer/list.xhtml"/>       
            <b:navLink value="#{i18n['navigation.accounts']}" 
                       iconAwesome="bank"
                       active="#{request.requestURI.contains('/account/')}"
                       href="#{request.contextPath}/secured/account/list.xhtml"/>  
            <b:navLink value="#{i18n['navigation.sources']}" 
                       iconAwesome="tags"
                       active="#{request.requestURI.contains('/source/')}"                       
                       href="#{request.contextPath}/secured/source/list.xhtml"/>
            <b:navLink value="#{i18n['navigation.settings']}" 
                       iconAwesome="gear"
                       active="#{request.requestURI.contains('/settings')}"                       
                       href="#{request.contextPath}/secured/settings.xhtml"/>      
            <b:navCommandLink  value="#{i18n['navigation.exit']}" 
                               immediate="true"
                               actionListener="#{loginController.logout()}"
                               iconAwesome="sign-out"/> 
        </ui:composition>
    </h:body>
</html>