<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="../template/list/layout.xhtml">

            <ui:param name="context" value="#{i18n['home.context']}" />

            <ui:define name="content" >  
                <div id="workArea" class="workArea" >
                    <b:messages showSummary="false"/>    
                    <b:row styleClass="show-grid">
                        <b:column colXs="2" colSm="2" colMd="4" colLg="8">
                            <canvas id="myChart1" class="col"></canvas>

                            <canvas id="myChart2"></canvas>

                            <canvas id="myChart3"></canvas>

                            <canvas id="myChart4"></canvas>
                        </b:column>
                    </b:row>
                    <script type="text/javascript">
                        var data = [
                            {
                                value: 300,
                                color: "#F7464A",
                                highlight: "#FF5A5E",
                                label: "Red"
                            },
                            {
                                value: 50,
                                color: "#46BFBD",
                                highlight: "#5AD3D1",
                                label: "Green"
                            },
                            {
                                value: 100,
                                color: "#FDB45C",
                                highlight: "#FFC870",
                                label: "Yellow"
                            }
                        ]
                        var ctx = document.getElementById("myChart1").getContext("2d");
                        var myChart = new Chart(ctx).Doughnut(data);
                        ctx = document.getElementById("myChart2").getContext("2d");
                        myChart = new Chart(ctx).Doughnut(data);
                        ctx = document.getElementById("myChart3").getContext("2d");
                        myChart = new Chart(ctx).Doughnut(data);
                        ctx = document.getElementById("myChart4").getContext("2d");
                        myChart = new Chart(ctx).Doughnut(data);
                    </script>
                    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
                    <b:row styleClass="show-grid">
                        <b:column col-xs="6" col-md="4"><h:outputText value="col-xs=6 col-md=4"/></b:column>
                        <b:column col-xs="6" col-md="4"><h:outputText value="col-xs=6 col-md=4"/></b:column>
                        <b:column col-xs="6" col-md="4"><h:outputText value="col-xs=6 col-md=4"/></b:column>
                    </b:row>
                    <!-- Columns are always 50% wide, on mobile and desktop -->
                    <b:row styleClass="show-grid">
                        <b:column col-xs="6"><h:outputText value="col-xs=6"/></b:column>
                        <b:column col-xs="6"><h:outputText value="col-xs=6"/></b:column>
                    </b:row>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>