<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="/template/list/layout.xhtml">
            
            <ui:param name="context" value="#{i18n['settings.context']}" />
            <ui:param name="dontRenderContextButtons" value="true" />

            <ui:define name="workArea" >
                <h:panelGrid cellpadding="5">
                    <ui:decorate template="#{input}">
                        <ui:param name="label" value="#{i18n['settings.input.idiom']}"/><ui:param name="for" value="idiom"/>
                        <ui:define name="field">
                            <b:selectOneMenu id="idiom" value="#{settingsController.settings.idiom}" >
                                <f:selectItems value="#{settingsController.idioms}" var="idiom" itemLabel="#{i18n[idiom.description]}" itemValue="#{idiom}"/>
                            </b:selectOneMenu>
                        </ui:define>
                    </ui:decorate> 
                    
                    <ui:decorate template="#{input}">
                        <ui:param name="label" value="#{i18n['settings.input.currency']}"/><ui:param name="for" value="currency"/>
                        <ui:define name="field">
                            <b:selectOneMenu id="currency" value="#{settingsController.settings.currency}" >
                                <f:selectItems value="#{settingsController.currencies}" var="currency" itemLabel="#{i18n[currency.description]}" itemValue="#{currency}"/>
                            </b:selectOneMenu>
                        </ui:define>
                    </ui:decorate>                     
                </h:panelGrid> 
                <div class="work-area-buttons">
                    <b:commandButton value="#{i18n['actions.save']}"
                                     ajax="true"
                                     actionListener="#{settingsController.save}" 
                                     look="primary">
                    </b:commandButton> 
                </div>
            </ui:define>     
        </ui:composition>
    </h:body>
</html>