<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition>
            <div class="hidden-xs">
                <b:navBar brand="#{i18n['brand.name']}" inverse="true" brandHref="#{request.contextPath}/" fixed="top" fluid="true">   
                </b:navBar>
            </div>
            <div class="hidden-sm hidden-md hidden-lg">
                <b:navBar id="formNavBar" brand="X" brandAlign="right" inverse="true" brandHref="#{backToList}" fixed="top" fluid="true"></b:navBar>   
            </div>
        </ui:composition>
    </h:body>
</html>
