<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition>
            <h:panelGroup class="input-group #{!for.isEmpty() ? facesContext.getMessageList('contentForm:'.concat(for).concat('')).size() != 0 ? 'has-error' : '' : ''}">
                <h:outputLabel class="control-label" for="#{for}" value="#{label}" />
                <ui:insert name="field"/>
                <h:message errorClass="label-error" for="#{for}"/>
            </h:panelGroup>
        </ui:composition>
    </h:body>
</html>
