<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:body> 
        <ui:composition template="../common/layout.xhtml">
            <ui:param name="requiredMessage" value="#{i18n['validator.message.required']}"/>

            <ui:define name="header" >
                <ui:include src="header.xhtml" />
            </ui:define>
            <ui:define name="sidebar">
                <ui:include src="../common/sidebar.xhtml" />
            </ui:define>
            <ui:define name="content" >
                <h:form id="contentForm">
                    <div class="hidden-xs">
                        <ui:insert name="buttons" >
                            <b:button outcome="list"  value="#{i18n['actions.back']}" icon="chevron-left"/>              
                        </ui:insert>
                        <hr/>
                    </div>
                    <div id="workArea" class="workArea">
                        <b:messages globalOnly="true" showSummary="false"/>
                        <ui:insert name="workArea" />
                        <div class="work-area-buttons">
                            <b:commandButton value="#{i18n['actions.save']}"
                                             ajax="true"
                                             disabled="#{saveDisabled}"
                                             actionListener="#{formBean.save}" 
                                             look="primary">
                            </b:commandButton> 
                            <ui:fragment rendered="#{includeDelete}">
                                <b:button value="#{i18n['actions.delete']}"
                                          look="danger" 
                                          onclick="$('.deleteModal').modal();
                                                  return false;"
                                          disabled="#{entity.new || deleteDisabled}"/>
                            </ui:fragment>
                        </div>
                    </div> 
                </h:form>   
            </ui:define>
        </ui:composition>
    </h:body>
</html>