<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="/template/form/layout.xhtml">

            <f:metadata>
                <f:viewParam name="id" value="#{accountFormController.account.id}" />
                <f:viewAction if="#{not empty param['id']}" action="#{accountFormController.loadAccount(accountFormController.account.id)}" />
            </f:metadata>

            <ui:param name="formBean" value="#{accountFormController}"/>
            <ui:param name="context" value="#{i18n['account.context.form']}" />
            <ui:param name="includeDelete" value="true"/>
            <ui:param name="deleteContext" value="#{i18n['account.delete.context']}"/>
            <ui:param name="entityName" value="#{accountFormController.account.name}"/>
            <ui:param name="entity" value="#{accountFormController.account}"/>
            <ui:param name="backToList" value="#{request.contextPath}/accounts"/>

            <ui:define name="workArea" >
                <h:panelGroup >
                    <ui:decorate template="#{input}">
                        <ui:param name="label" value="#{i18n['account.input.name']}"/><ui:param name="for" value="account"/>
                        <ui:define name="field">
                            <b:inputText id="account" value="#{accountFormController.account.name}">
                                <f:validator validatorId="requiredValidator"/>
                            </b:inputText>
                        </ui:define>
                    </ui:decorate> 

                    <ui:fragment rendered="#{accountFormController.account.new}">
                        <ui:decorate template="#{input}">
                            <ui:param name="label" value="#{i18n['account.input.initialValue']}"/><ui:param name="for" value="value"/>
                            <ui:define name="field">  
                                <b:inputText id="value" value="#{accountFormController.account.openingValue}" converterMessage="#{i18n[settingsController.currency.invalidMessage]}" >
                                    <f:facet name="prepend">
                                        <h:outputText value="#{settingsController.currency.symbol}" />
                                    </f:facet>
                                    <f:convertNumber locale="#{settingsController.currency.locale}" maxFractionDigits="2" minFractionDigits="2" />
                                </b:inputText>
                            </ui:define>
                        </ui:decorate> 
                    </ui:fragment>

                    <ui:decorate template="#{input}">
                        <ui:param name="label" value="#{i18n['transaction.input.date']}"/><ui:param name="for" value="date"/>
                        <ui:define name="field">
                            <b:datepicker id="date" value="#{accountFormController.account.openingDate}" mode="icon-popup" />
                        </ui:define>
                    </ui:decorate>     

                    <b:column>
                        <b:slider mode="edit" value="#{accountFormController.hours}" label="#{i18n['calendar.hours']}" min="0" max="23"  />
                    </b:column>

                    <b:column>
                        <b:slider mode="edit"  value="#{accountFormController.minutes}" label="#{i18n['calendar.minutes']}" min="0" max="59" />
                    </b:column>

                </h:panelGroup>  
            </ui:define>     
        </ui:composition>
    </h:body>
</html>