<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="/template/list/layout.xhtml">
            <f:metadata>
                <f:viewAction action="#{accountListController.clear()}" />
            </f:metadata>

            <ui:param name="listController" value="#{accountListController}" />
            <ui:param name="context" value="#{i18n['account.context.list']}" />
            <ui:param value="#{accountListController.page}" name="page"/>
            <ui:param name="includeFooter" value="true"/>

            <ui:define name="workArea" >
                <ui:decorate template="/template/list/table.xhtml">
                    <ui:define name="header">
                        <td style="width: 5%; text-align: right;"></td>
                        <td style="width: 50%;"><h:outputLabel value="#{i18n['account.list.name']}" /> </td>
                        <td style="width: 40%; text-align: right;"><h:outputLabel value="#{i18n['account.list.balance']} (#{settingsController.currency.symbol})" /> </td>
                    </ui:define>
                    <ui:define name="rows">
                        <ui:repeat value="#{accountListController.items}" var="event" >
                            <ui:param value="#{event}" name="item"/>
                            <ui:param name="clickPath" value="document.location.href = '../account/#{item.id}'"/>
                            <ui:decorate template="/template/list/clickableRow.xhtml" >
                                <ui:define name="columns">
                                    <td style="width: 5%;"><b:commandButton value="#{i18n['account.list.history']}" size="xs" onclick="stopPropagation(event); BsF.ajax.callAjax(this, event,'transactionHistory transactionHistoryForm','j_idt53',function(){$('.transactionHistoryModal').modal(); return false;});;;return false;" actionListener="#{transactionAccountHistoryListController.loadAccount(item.id)}" ajax="true" update=":transactionHistory :transactionHistoryForm" iconAwesome="search-plus"/></td>
                                    <td style="width: 50%;">#{item.name}</td>
                                    <td style="width: 40%; text-align: right; font-weight: bold" class="#{item.positive ? 'font-green' : 'font-red'}"><b:iconAwesome name="#{item.positive ? 'plus' : 'minus'}" class="#{item.positive ? 'font-green' : 'font-red'}" />  #{accountListController.getValue(item.balance, settingsController.currency.locale)}</td>
                                </ui:define>
                            </ui:decorate>
                        </ui:repeat> 
                    </ui:define>
                </ui:decorate>   
            </ui:define>
            <ui:define name="additionalModal">
                <ui:param name="listController" value="#{transactionAccountHistoryListController}" />
                <ui:param value="#{transactionAccountHistoryListController.page}" name="page"/>
                <ui:param name="includeFooter" value="true"/>
                <ui:include src="transactionHistory.xhtml" /> 
            </ui:define>    
        </ui:composition>
    </h:body>
</html>