<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition> 
            <b:modal id="transactionHistory" title="#{transactionAccountHistoryListController.account.name}" styleClass="transactionHistoryModal">
                <h:form id="transactionHistoryForm">
                    <ui:decorate template="/template/list/table.xhtml">
                        <ui:define name="header">
                            <td style="width: 20%;" class="visible-sm visible-md visible-lg"><h:outputLabel value="#{i18n['transaction.list.account']}" /> </td>
                            <td style="width: 20%;" class="visible-sm visible-md visible-lg"><h:outputLabel value="#{i18n['transaction.list.source']}" /> </td>
                            <td style="width: 10%; text-align: center;"><h:outputLabel value="#{i18n['transaction.list.completed']}" /> </td>
                            <td style="width: 15%; text-align: center;"><h:outputLabel value="#{i18n['transaction.list.date']}" /> </td>
                            <td style="width: 35%; text-align: right;"><h:outputLabel value="#{i18n['transaction.list.value']} (#{settingsController.currency.symbol})" /> </td>
                        </ui:define>
                        <ui:define name="rows">
                            <ui:repeat value="#{listController.items}" var="event" >
                                <ui:param value="#{event}" name="item"/>
                                <ui:decorate template="/template/list/row.xhtml" >
                                    <ui:define name="columns">
                                        <td style="width: 20%;" class="visible-sm visible-md visible-lg">#{item.nameAccount}</td>
                                        <td style="width: 20%;" class="visible-sm visible-md visible-lg">#{item.defaultValue ? i18n[item.nameSource] : item.nameSource}</td>
                                        <td style="width: 10%; text-align: center;"><b:iconAwesome name="#{item.deferred ? 'check' : 'remove'}"/></td>
                                        <td style="width: 15%; text-align: center;">#{transactionAccountHistoryListController.getDate(item.date, i18n['transaction.list.dateMask'])}</td>
                                        <td style="width: 35%; text-align: right; font-weight: bold" class="#{item.income ? 'font-green' : 'font-red'}"><b:iconAwesome name="#{item.income ? 'plus' : 'minus'}" class="#{item.income ? 'font-green' : 'font-red'}" />  #{transactionAccountHistoryListController.getValue(item.value, settingsController.currency.locale)}</td>
                                    </ui:define>
                                </ui:decorate>
                            </ui:repeat> 
                        </ui:define>
                    </ui:decorate>  
                </h:form>
            </b:modal>
        </ui:composition> 
    </h:body>
</html>
