<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition>
            <b:modal id="deleteModal" title="#{i18n['delete.term']} #{deleteContext} #{entityName}" closable="true" styleClass="deleteModal">
                <p>#{i18n['delete.areYouSure']}</p>
                <f:facet name="footer">
                    <h:form>
                        <div class="work-area-buttons">
                            <b:commandButton value="#{i18n['delete.yes']}" look="danger" actionListener="#{formBean.delete(entity)}"/>
                            <b:button value="#{i18n['delete.no']}" dismiss="modal" onclick="return false;" style="margin-left: 0px"/>
                        </div>
                    </h:form>
                </f:facet>
            </b:modal>
        </ui:composition>
    </h:body>
</html>
