<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="/template/form/layout.xhtml">

            <f:metadata>
                <f:viewParam name="id" value="#{transferFormController.transfer.id}" />
                <f:viewAction if="#{not empty param['id']}" action="#{transferFormController.loadTransfer(transferFormController.transfer.id)}" />
            </f:metadata>

            <ui:param name="formBean" value="#{transferFormController}"/>
            <ui:param name="context" value="#{i18n['transfer.context.form']}" />
            <ui:param name="includeDelete" value="true"/>
            <ui:param name="deleteContext" value="#{i18n['transfer.delete.context']}"/>
            <ui:param name="entityName" value="#{transferFormController.transfer.name}"/>
            <ui:param name="entity" value="#{transferFormController.transfer}"/>
            <ui:param name="backToList" value="#{request.contextPath}/transfers"/>

            <ui:define name="workArea" >
                <h:panelGroup>
                    <ui:decorate template="#{input}">
                        <ui:param name="label" value="#{i18n['transfer.input.value']}"/><ui:param name="for" value="value"/>
                        <ui:define name="field">  
                            <b:inputText id="value" value="#{transferFormController.transfer.value}" converterMessage="#{i18n[settingsController.currency.invalidMessage]}">
                                <f:facet name="prepend">
                                    <h:outputText value="#{settingsController.currency.symbol}" />
                                </f:facet>
                                <f:convertNumber locale="#{settingsController.currency.locale}" maxFractionDigits="2" minFractionDigits="2" />
                            </b:inputText>
                        </ui:define>
                    </ui:decorate>    
                    
                    <ui:decorate template="#{input}">
                        <ui:param name="label" value="#{i18n['transfer.input.origin']}"/><ui:param name="for" value="origin"/>
                        <ui:define name="field">
                            <b:selectOneMenu id="origin" value="#{transferFormController.transfer.origin}" >
                                <f:selectItems value="#{transferFormController.accounts}" var="account" itemLabel="#{account.name}" itemValue="#{type}"/>
                            </b:selectOneMenu>
                        </ui:define>
                    </ui:decorate>       

                    <ui:decorate template="#{input}">
                        <ui:param name="label" value="#{i18n['transfer.input.target']}"/><ui:param name="for" value="target"/>
                        <ui:define name="field">
                            <b:selectOneMenu id="target" value="#{transferFormController.transfer.target}">
                                <f:selectItems value="#{transferFormController.accounts}" var="account" itemLabel="#{account.name}" itemValue="#{type}"/>
                            </b:selectOneMenu>
                        </ui:define>
                    </ui:decorate>       

                    <ui:decorate template="#{input}">
                        <ui:param name="label" value="#{i18n['transfer.input.date']}"/><ui:param name="for" value="date"/>
                        <ui:define name="field">
                            <b:datepicker id="date" value="#{transferFormController.transfer.date}" mode="icon-popup"/>
                        </ui:define>
                    </ui:decorate>     

                    <b:column>
                        <b:slider mode="edit" value="#{transferFormController.hours}" label="#{i18n['calendar.hours']}" min="0" max="23"/>
                    </b:column>

                    <b:column>
                        <b:slider mode="edit"  value="#{transferFormController.minutes}" label="#{i18n['calendar.minutes']}" min="0" max="59"/>
                    </b:column>

                </h:panelGroup>  
            </ui:define>     
        </ui:composition>
    </h:body>
</html>