<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="/template/list/layout.xhtml">
            <f:metadata>
                <f:viewAction action="#{transferListController.clear()}" />
            </f:metadata>

            <ui:param name="listController" value="#{transferListController}" />
            <ui:param name="context" value="#{i18n['transfer.context.list']}" />
            <ui:param value="#{transferListController.page}" name="page"/>
            <ui:param name="includeFooter" value="true"/>

            <ui:define name="workArea" >
                <ui:decorate template="/template/list/table.xhtml">
                    <ui:define name="header">
                        <td style="width: 20%;"><h:outputLabel value="#{i18n['transfer.list.origin']}" /> </td>
                        <td style="width: 20%;"><h:outputLabel value="#{i18n['transfer.list.target']}" /> </td>
                        <td style="width: 15%; text-align: center;"><h:outputLabel value="#{i18n['transfer.list.date']}" /> </td>
                        <td style="width: 40%; text-align: right;"><h:outputLabel value="#{i18n['transfer.list.value']} (#{settingsController.currency.symbol})" /> </td>
                    </ui:define>
                    <ui:define name="rows">
                        <ui:repeat value="#{transferListController.items}" var="transfer" >
                            <ui:param value="#{transfer}" name="item"/>
                            <ui:param name="clickPath" value="document.location.href = '../transfer/#{item.id}'"/>
                            <ui:decorate template="/template/list/clickableRow.xhtml" >
                                <ui:define name="columns">
                                    <td style="width: 20%;">#{item.nameOrigin}</td>
                                    <td style="width: 20%;">#{item.nameTarget}</td>
                                    <td style="width: 15%; text-align: center;">#{transferListController.getDate(item.date, i18n['transfer.list.dateMask'])}</td>
                                    <td style="width: 40%; text-align: right; font-weight: bold" class="font-cyan">#{transferListController.getValue(item.value, settingsController.currency.locale)}</td>
                                </ui:define>
                            </ui:decorate>
                        </ui:repeat> 
                    </ui:define>
                </ui:decorate>   
            </ui:define>
        </ui:composition>
    </h:body>
</html>