<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="/template/form/layout.xhtml">

            <f:metadata>
                <f:viewParam name="id" value="#{partyFormController.party.id}" />
                <f:viewAction if="#{not empty param['id']}" action="#{partyFormController.loadParty(partyFormController.party.id)}" />
                <f:viewAction if="#{not empty param['id']}" action="#{partyMemberListController.setParty(partyFormController.party)}" />
                <f:viewAction if="#{empty param['id']}" action="#{partyMemberListController.newParty()}" />
                <f:viewAction action="#{partyMemberListController.search()}" />
            </f:metadata>

            <ui:param name="formBean" value="#{partyFormController}"/>
            <ui:param name="context" value="#{i18n['party.context.form']}" />
            <ui:param name="includeDelete" value="true"/>
            <ui:param name="deleteContext" value="#{i18n['party.delete.context']}"/>
            <ui:param name="entityName" value="#{partyFormController.party.name}"/>
            <ui:param name="entity" value="#{partyFormController.party}"/>
            <ui:param name="listController" value="#{partyMemberListController}" />
            <ui:param name="includeButtons" value="true" />
            <ui:param name="includeFooter" value="true" />
            <ui:param value="#{partyMemberListController.page}" name="page"/>
            <ui:param name="clickPath" value="$('.partyMemberModal').modal(); return false;"/>
            <ui:param name="update" value=":memberModalForm"/>
            <ui:param name="backToList" value="#{request.contextPath}/parties"/>

            <ui:define name="workArea" >
                <h:panelGroup>
                    <ui:decorate template="#{input}">
                        <ui:param name="label" value="#{i18n['party.input.name']}"/><ui:param name="for" value="name"/>
                        <ui:define name="field">
                            <b:inputText id="name" value="#{partyFormController.party.name}"></b:inputText>
                        </ui:define>
                    </ui:decorate>
                    
                    <ui:decorate template="#{input}">
                        <ui:param name="label" value="#{i18n['party.input.members']}"/>
                    </ui:decorate>

                </h:panelGroup> 

                <b:well>
                    <b:commandButton value="#{i18n['actions.new']}"
                                     icon="plus"
                                     ajax="true"
                                     actionListener="#{partyFormController.newPartyMember()}"
                                     update="#{update}"
                                     oncomplete="$('.partyMemberModal').modal();
                                     return false;"/>
                    <ui:decorate template="/template/list/table.xhtml">                    
                        <ui:define name="header">
                            <td style="width: 300px;"><h:outputLabel value="#{i18n['partyMember.list.memberNickname']}" /> </td>
                            <td style="width: 50px;" ><h:outputLabel value="#{i18n['partyMember.list.job']}" /> </td>
                        </ui:define>
                        <ui:define name="rows">
                            <ui:repeat value="#{partyMemberListController.items}" var="partyMember" >
                                <ui:param value="#{partyMember}" name="item"/>
                                <ui:decorate template="/template/list/viewableRow.xhtml" >
                                    <ui:define name="columns">
                                        <td style="width: 300px;">#{partyMember.memberNickname}</td>
                                        <td style="width: 50px;" >#{partyMember.job}</td>
                                    </ui:define>
                                </ui:decorate>
                            </ui:repeat> 
                        </ui:define>
                    </ui:decorate> 
                </b:well>
            </ui:define>
            <ui:define name="additionalModal">
                <ui:include src="partyMemberModal.xhtml" /> 
            </ui:define>
        </ui:composition>
    </h:body>
</html>