<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="/template/form/layout.xhtml">

            <f:metadata>
                <f:viewParam name="id" value="#{partyFormController.party.id}" />
                <f:viewAction if="#{not empty param['id']}" action="#{partyFormController.loadParty(partyFormController.party.id)}" />
            </f:metadata>

            <ui:param name="formBean" value="#{partyFormController}"/>
            <ui:param name="context" value="#{i18n['party.context']}" />
            <ui:param name="deleteContext" value="#{i18n['delete.context.party']}"/>
            <ui:param name="entityName" value="#{partyFormController.party.name}"/>
            <ui:param name="entity" value="#{partyFormController.party}"/>

            <ui:define name="workArea" >
                <h:panelGroup>
                    <h:outputText value="#{i18n['party.input.name']}"/>
                    <b:inputText value="#{partyFormController.party.name}"></b:inputText>
                </h:panelGroup> 

                <ui:param name="listController" value="#{memberListController}" />
                <ui:param name="includeButtons" value="true" />
                <ui:param name="includeFooter" value="true" />
                <ui:decorate template="/template/list/table.xhtml">
                    <ui:define name="header">
                        <td style="width: 50px;" class="visible-md visible-lg"><h:outputLabel value="#{i18n['member.list.id']}" /></td>
                        <td style="width: 300px;"><h:outputLabel value="#{i18n['member.list.nickname']}" /></td>
                        <td style="width: 600px;"><h:outputLabel value="#{i18n['member.list.name']}" /> </td>
                        <td style="width: 300px;" class="visible-md visible-lg"><h:outputLabel value="#{i18n['member.list.ropdAddress']}" /> </td>
                    </ui:define>
                    <ui:define name="rows">
                        <ui:repeat value="#{memberListController.items}" var="member" >
                            <ui:param value="#{member}" name="item"/>
                            <ui:param value="#{memberListController.page}" name="page"/>
                            <ui:decorate template="/template/list/row.xhtml" >
                                <ui:define name="columns">
                                    <td style="width: 50px;" class="visible-md visible-lg">#{member.id}</td>
                                    <td style="width: 300px;">#{member.nickname}</td>
                                    <td style="width: 600px;">#{member.name}</td>
                                    <td style="width: 300px;" class="visible-md visible-lg">#{member.ropdAddress}</td>
                                </ui:define>
                            </ui:decorate>
                        </ui:repeat> 
                    </ui:define>
                    <h:outputText class="text-center pull-right" value="#{listController.firstPageResult}-#{listController.lastPageResult} #{i18n['table.of']} #{listController.totalRows}"/>
                </ui:decorate> 
            </ui:define>     
        </ui:composition>
    </h:body>
</html>