<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="/template/list/layout.xhtml">
            <f:metadata>
                <f:viewAction action="#{partyListController.clear()}" />
            </f:metadata>

            <ui:param name="listController" value="#{partyListController}" />
            <ui:param name="context" value="#{i18n['party.context.list']}" />
            <ui:param name="includeFooter" value="true"/>
            <ui:param value="#{partyListController.page}" name="page"/>

            <ui:define name="additionalContext">
                <b:label text="5 members not set" severity="warning"/>
            </ui:define>
            <ui:define name="workArea" >
                <ui:decorate template="/template/list/table.xhtml">
                    <ui:define name="header">
                        <td style="width: 50px;" class="visible-md visible-lg"><h:outputLabel value="#{i18n['party.list.id']}" /></td>
                        <td style="width: 600px;"><h:outputLabel value="#{i18n['party.list.name']}" /> </td>
                    </ui:define>
                    <b:label text="1" severity="info"/>
                    <ui:define name="rows">
                        <ui:repeat value="#{partyListController.items}" var="party" >
                            <ui:param value="#{party}" name="item"/>
                            <ui:param name="clickPath" value="document.location.href = '../party/#{item.id}'"/>
                            <ui:decorate template="/template/list/clickableRow.xhtml" >
                                <ui:define name="columns">
                                    <td style="width: 50px;" class="visible-md visible-lg">#{party.id}</td>
                                    <td style="width: 600px;">#{party.name}</td>
                                </ui:define>
                            </ui:decorate>
                        </ui:repeat> 
                    </ui:define>
                </ui:decorate>  
            </ui:define>
        </ui:composition>
    </h:body>
</html>