<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition> 
            <b:modal id="memberModal" title="#{i18n['party.memberModal.title']}" styleClass="partyMemberModal">
                <h:form id="memberModalForm">
                    <ui:decorate template="#{input}">
                        <ui:param name="label" value="#{i18n['party.partyMember.input.member']}"/><ui:param name="for" value="member"/>
                        <ui:define name="field">
                            <b:selectOneMenu id="member" value="#{partyFormController.partyMember.member}" >
                                <f:selectItems value="#{partyFormController.availableMembers}" var="member" itemLabel="#{member.nickname}" itemValue="#{member}"/>
                            </b:selectOneMenu>
                        </ui:define>
                    </ui:decorate>

                    <ui:decorate template="#{input}">
                        <ui:param name="label" value="#{i18n['party.partyMember.input.job']}"/><ui:param name="for" value="job"/>
                        <ui:define name="field">
                            <b:selectOneMenu id="job" value="#{partyFormController.partyMember.job}" >
                                <f:selectItems value="#{partyFormController.jobs}" var="job" itemLabel="#{job}" itemValue="#{job}"/>
                            </b:selectOneMenu>
                        </ui:define>
                    </ui:decorate>

                    <hr style="margin: -20px"/>
                    <div class="work-area-buttons">
                        <b:commandButton value="#{i18n['actions.save']}" look="primary" action="#{partyFormController.saveMember()}"/>
                        <b:button value="#{i18n['actions.cancel']}" dismiss="modal" onclick="return false;"/>
                        <b:commandButton value="#{i18n['actions.delete']}" look="danger" disabled="#{partyFormController.partyMember.new}" action="#{partyFormController.deleteMember()}"/>
                    </div>
                </h:form>
            </b:modal>
        </ui:composition>
    </h:body>
</html>
