<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="/template/common/main.xhtml">
            <ui:define name="page">
                <b:container>
                        <h:outputLabel value="Teste"/>
                </b:container>
            </ui:define>
        </ui:composition>
    </h:body>
</html>