<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body> 
        <ui:composition template="../common/main.xhtml">
            <ui:define name="page">
                <b:container>
                    <h:form id="contentForm" styleClass="form-signup workArea" >
                        <h:panelGrid cellpadding="5">
                            <h1 class="text-center">#{i18n['login.context']}</h1> 
                            <hr/>

                            <b:messages globalOnly="true" showSummary="false" />

                            <ui:insert name="content"></ui:insert>     

                        </h:panelGrid>
                        <hr/>
                        <div class="work-area-buttons">
                            <ui:insert name="buttons"/>
                        </div>
                    </h:form>
                </b:container>
            </ui:define>
        </ui:composition>
    </h:body>
</html>