<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="../template/login/layout.xhtml">
            <f:metadata>
                <f:viewParam name="email" value="#{confirmationController.email}" />
                <f:viewParam name="token" value="#{confirmationController.token}"/>
                <f:viewAction if="#{not empty param['email'] and not empty param['token']}" action="#{confirmationController.loadConfirmation()}" />
                <f:viewAction if="#{not empty param['email'] and empty param['token']}" action="#{confirmationController.loadConfirmationOnlyEmail()}" />
                <f:viewAction if="#{(empty param['email'] and empty param['token']) or (empty param['email'] and not empty param['token'])}" 
                              action="#{confirmationController.redirectError404()}" />
            </f:metadata>
            <ui:define name="content">
                <h:panelGrid rendered="#{not confirmationController.activated}">
                    <h:outputText value="#{i18n['confirmation.text.accountNotActivated']}"/>
                </h:panelGrid>

                <h:panelGrid rendered="#{confirmationController.activated}" columns="1">
                    <h:column>
                        <h:outputText value="#{i18n['confirmation.text.accountActivated1']}"/>
                        <a href="/login.xhtml">#{i18n['confirmation.text.accountActivatedClickHere']} </a>
                        <h:outputText value="#{i18n['confirmation.text.accountActivated2']}"/>
                    </h:column>
                </h:panelGrid>
            </ui:define>
        </ui:composition>
    </h:body>
</html>