<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="../template/login/layout.xhtml">
            <f:metadata>
                <f:viewParam name="email" value="#{loginController.email}" />
            </f:metadata>
            <ui:define name="content">
                <ui:decorate template="#{input}">
                    <ui:param name="for" value="email"/>
                    <ui:define name="field">
                        <b:inputText id="email" value="#{loginController.email}" placeholder="#{i18n['login.placeholder.email']}">     
                            <f:facet name="prepend">
                                <b:iconAwesome name="user" />
                            </f:facet>
                            <f:validator validatorId="emailValidator"/>                                      
                        </b:inputText>
                    </ui:define>
                </ui:decorate> 

                <ui:decorate template="#{input}">
                    <ui:param name="for" value="password"/>
                    <ui:define name="field">
                        <b:inputText id="password" value="#{loginController.password}" type="password" placeholder="#{i18n['login.placeholder.password']}"> 
                            <f:facet name="prepend">
                                <b:iconAwesome name="key" />
                            </f:facet>                             
                            <f:validator validatorId="requiredValidator"/>
                        </b:inputText>
                    </ui:define>
                </ui:decorate>  

                <h:panelGrid columns="2" cellpadding="2"  style="font-size: 12px; margin-top: 8px;">
                    <h:column>
                        <h:panelGrid columns="2" style="float: left;">
                            <h:selectBooleanCheckbox value="#{loginController.keepLoggedIn}"/>
                            <h:outputText value="#{i18n['login.input.keepLoggedIn']}"/>
                        </h:panelGrid>
                    </h:column>
                    <h:column>
                        <a style="float: right;" href="../passwordRecovery/">#{i18n['login.label.forgotPassword']}</a>
                    </h:column>
                </h:panelGrid>
            </ui:define>
            
            <ui:define name="buttons">
                <b:commandButton look="primary btn-block" ajax="true" update="@form" iconAlign="right" 
                                 actionListener="#{loginController.login()}"
                                 value="#{i18n['login.button.signIn']}"/>
                <b:commandButton look="btn-block" 
                                 immediate="true"
                                 action="#{loginController.signUp()}"
                          value="#{i18n['login.button.signUp']}"/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>