<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="../template/login/layout.xhtml">
            <f:metadata>
                <f:viewParam name="email" value="#{passwordRecoveryController.email}" />
                <f:viewParam name="token" value="#{passwordRecoveryController.token}"/>
                <f:viewAction if="#{not empty param['email'] and not empty param['token']}" action="#{passwordRecoveryController.loadRecovery()}" />
            </f:metadata>
            <ui:define name="content">

                <h:panelGrid rendered="#{passwordRecoveryController.user.new}">
                    <ui:decorate template="#{input}">
                        <ui:param name="for" value="email"/>
                        <ui:define name="field">
                            <b:inputText id="email" value="#{passwordRecoveryController.email}" placeholder="#{i18n['passwordRecovery.placeholder.email']}">     
                                <f:validator validatorId="emailValidator"/>                                      
                            </b:inputText>
                        </ui:define>
                    </ui:decorate>    
                </h:panelGrid>                                  

                <h:panelGrid rendered="#{!passwordRecoveryController.user.new}">
                    <ui:decorate template="#{input}">
                        <ui:param name="for" value="recoveryCode"/>
                        <ui:define name="field">
                            <b:inputText id="recoveryCode" value="#{passwordRecoveryController.recoveryCode}" placeholder="#{i18n['passwordRecovery.placeholder.recoveryCode']}">     
                                <f:validator validatorId="requiredValidator"/>                                      
                            </b:inputText>
                        </ui:define>
                    </ui:decorate>  

                    <ui:decorate template="#{input}">
                        <ui:param name="for" value="newPassword"/>
                        <ui:define name="field">
                            <b:inputText id="newPassword" value="#{passwordRecoveryController.password}" type="password" placeholder="#{i18n['passwordRecovery.placeholder.newPassword']}">     
                                <f:validator validatorId="requiredValidator"/>                                      
                            </b:inputText>
                        </ui:define>
                    </ui:decorate> 
                </h:panelGrid>

            </ui:define>
            <ui:define name="buttons">                
                <b:commandButton look="primary btn-block" ajax="true" update="@form" 
                                 rendered="#{passwordRecoveryController.user.new}"
                                 disabled="#{passwordRecoveryController.user.passwordRecovery}"
                                 actionListener="#{passwordRecoveryController.sendPasswordRecovery()}"
                                 value="#{i18n['passwordRecovery.button.sendRecovery']}" 
                                 size="lg"/>     
                <b:commandButton look="primary btn-block" ajax="true" update="@form" 
                                 rendered="#{!passwordRecoveryController.user.new}"
                                 actionListener="#{passwordRecoveryController.saveNewPassword()}"
                                 value="#{i18n['passwordRecovery.button.setNewPassword']}" 
                                 size="lg"/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>