<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="../template/login/layout.xhtml">
            <ui:define name="content">
                <ui:decorate template="#{input}">
                    <ui:param name="for" value="name"/>
                    <ui:define name="field">
                        <b:inputText id="name" value="#{signUpController.user.name}" placeholder="#{i18n['signUp.placeholder.name']}">     
                            <f:validator validatorId="requiredValidator"/>                                      
                        </b:inputText>
                    </ui:define>
                </ui:decorate> 

                <ui:decorate template="#{input}">
                    <ui:param name="for" value="email"/>
                    <ui:define name="field">
                        <b:inputText id="email" value="#{signUpController.user.email}" placeholder="#{i18n['signUp.placeholder.email']}">     
                            <f:validator validatorId="emailValidator"/>                                      
                        </b:inputText>
                    </ui:define>
                </ui:decorate>  

                <ui:decorate template="#{input}">
                    <ui:param name="for" value="password"/>
                    <ui:define name="field">
                        <b:inputText id="password" value="#{signUpController.user.password}" type="password" placeholder="#{i18n['signUp.placeholder.password']}">                                
                            <f:validator validatorId="requiredValidator"/>
                        </b:inputText>
                    </ui:define>
                </ui:decorate>  

            </ui:define>
            <ui:define name="buttons">                
                <b:commandButton look="primary btn-block" ajax="true" update="@form" actionListener="#{signUpController.signUp()}" value="#{i18n['signUp.button.signUp']}" size="lg"/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>