<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="/template/form/layout.xhtml">

            <f:metadata>
                <f:viewParam name="id" value="#{eventFormController.event.id}" />
                <f:viewAction if="#{not empty param['id']}" action="#{eventFormController.loadEvent(eventFormController.event.id)}" />
            </f:metadata>

            <ui:param name="formBean" value="#{eventFormController}"/>
            <ui:param name="context" value="#{i18n['event.context.form']}" />
            <ui:param name="includeDelete" value="true"/>
            <ui:param name="deleteContext" value="#{i18n['event.delete.context']}"/>
            <ui:param name="entityName" value="#{eventFormController.event.name}"/>
            <ui:param name="entity" value="#{eventFormController.event}"/>
            <ui:param name="backToList" value="#{request.contextPath}/events"/>

            <ui:define name="workArea" >
                <h:panelGroup>
                    <ui:decorate template="#{input}">
                        <ui:param name="label" value="#{i18n['event.input.name']}"/><ui:param name="for" value="email"/>
                        <ui:define name="field">
                            <b:inputText id="email" value="#{eventFormController.event.name}" placeholder="#{i18n['mask.email']}">
                                <f:validator validatorId="emailValidator"/>
                            </b:inputText>
                        </ui:define>
                    </ui:decorate>                    
                    
                    <ui:decorate template="#{input}">
                        <ui:param name="label" value="#{i18n['event.input.beginTime']}"/><ui:param name="for" value="eventTimeGrid"/>
                        <ui:define name="field"> 
                            <h:panelGrid id="eventTimeGrid" columns="2" style="padding-bottom: 0px !important">
                                <b:datepicker mode="icon-popup" placeholder="#{i18n['mask.date']}" value="#{eventFormController.event.beginTime}"/>
                                <b:datepicker mode="icon-popup" placeholder="#{i18n['mask.date']}" value="#{eventFormController.event.endTime}"/>
                            </h:panelGrid>
                        </ui:define>
                    </ui:decorate>
                    
                </h:panelGroup>  
            </ui:define>     
        </ui:composition>
    </h:body>
</html>