<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="/template/list/layout.xhtml">
            <f:metadata>
                <f:viewAction action="#{sourceListController.clear()}" />
            </f:metadata>

            <ui:param name="listController" value="#{sourceListController}" />
            <ui:param name="context" value="#{i18n['source.context.list']}" />
            <ui:param value="#{sourceListController.page}" name="page"/>
            <ui:param name="includeFooter" value="true"/>

            <ui:define name="workArea" >
                <ui:decorate template="/template/list/table.xhtml">
                    <ui:define name="header">
                        <td style="width: 45%"><h:outputLabel value="#{i18n['source.list.name']}" /> </td>
                        <td style="width: 50%;"><h:outputLabel value="#{i18n['source.list.type']}" /> </td>
                    </ui:define>
                    <ui:define name="rows">
                        <ui:repeat value="#{sourceListController.items}" var="event" >
                            <ui:param value="#{event}" name="item"/>
                            <ui:param name="clickPath" value="document.location.href = '../source/#{item.id}'"/>
                            <ui:decorate template="/template/list/clickableRow.xhtml" >
                                <ui:define name="columns">
                                    <td style="width: 45%; ">#{item.name}</td>
                                    <td style="width: 50%;">#{i18n[item.type]}</td>
                                </ui:define>
                            </ui:decorate>
                        </ui:repeat> 
                    </ui:define>
                </ui:decorate>   
            </ui:define>
        </ui:composition>
    </h:body>
</html>