<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="/template/form/layout.xhtml">

            <f:metadata>
                <f:viewParam name="id" value="#{transactionFormController.transaction.id}" />
                <f:viewAction if="#{not empty param['id']}" action="#{transactionFormController.loadTransaction(transactionFormController.transaction.id)}" />
                <f:viewAction if="#{not empty param['type']}" action="#{transactionFormController.changeType()}" />
            </f:metadata>

            <ui:param name="formBean" value="#{transactionFormController}"/>
            <ui:param name="context" value="#{i18n['transaction.context.form']}" />
            <ui:param name="includeDelete" value="true"/>
            <ui:param name="deleteContext" value="#{i18n['transaction.delete.context']}"/>
            <ui:param name="saveDisabled" value="#{transactionFormController.transaction.source.default}"/>
            <ui:param name="deleteDisabled" value="#{transactionFormController.transaction.source.default}"/>
            <ui:param name="entityName" value="#{transactionFormController.transaction.name}"/>
            <ui:param name="entity" value="#{transactionFormController.transaction}"/>
            <ui:param name="backToList" value="#{request.contextPath}/transactions"/>

            <ui:define name="workArea" >
                <h:panelGroup>
                    <ui:decorate template="#{input}">
                        <ui:param name="label" value="#{i18n['transaction.input.value']}"/><ui:param name="for" value="value"/>
                        <ui:define name="field">  
                            <b:inputText id="value" value="#{transactionFormController.transaction.value}" converterMessage="#{i18n[settingsController.currency.invalidMessage]}" disabled="#{transactionFormController.transaction.source.transfer}">
                                <f:facet name="prepend">
                                    <h:outputText value="#{settingsController.currency.symbol}" />
                                </f:facet>
                                <f:convertNumber locale="#{settingsController.currency.locale}" maxFractionDigits="2" minFractionDigits="2" />
                            </b:inputText>
                        </ui:define>
                    </ui:decorate>      

                    <ui:decorate template="#{input}">
                        <ui:param name="label" value="#{i18n['transaction.input.account']}"/><ui:param name="for" value="account"/>
                        <ui:define name="field">
                            <b:selectOneMenu id="account" value="#{transactionFormController.transaction.account}" disabled="#{transactionFormController.transaction.source.default}" >
                                <f:selectItems value="#{transactionFormController.accounts}" var="account" itemLabel="#{account.name}" itemValue="#{account}"/>
                            </b:selectOneMenu>
                        </ui:define>
                    </ui:decorate>    

                    <ui:decorate template="#{input}">
                        <ui:param name="label" value="#{i18n['transaction.input.type']}"/><ui:param name="for" value="type"/>
                        <ui:define name="field">
                            <b:selectOneMenu id="type" value="#{transactionFormController.transaction.type}" update="contentForm:source" disabled="#{transactionFormController.transaction.source.default}" onchange="ajax:transactionFormController.changeType()" >
                                <f:selectItems value="#{transactionFormController.types}" var="type" itemLabel="#{i18n[type.description]}" itemValue="#{type}"/>
                            </b:selectOneMenu>
                        </ui:define>
                    </ui:decorate>                      

                    <ui:decorate template="#{input}">
                        <ui:param name="label" value="#{i18n['transaction.input.source']}"/><ui:param name="for" value="source"/>
                        <ui:define name="field">
                            <b:selectOneMenu id="source" value="#{transactionFormController.transaction.source}" disabled="#{transactionFormController.transaction.source.default}">
                                <f:selectItems value="#{transactionFormController.sources}" var="source" itemLabel="#{transactionFormController.transaction.source.default ? i18n[source.name] : source.name}" itemValue="#{source}"/>
                            </b:selectOneMenu>
                        </ui:define>
                    </ui:decorate>       

                    <ui:decorate template="#{input}">
                        <ui:param name="label" value="#{i18n['transaction.input.date']}"/><ui:param name="for" value="date"/>
                        <ui:define name="field">
                            <b:datepicker id="date" value="#{transactionFormController.transaction.date}" mode="icon-popup" disabled="#{transactionFormController.transaction.source.default}"/>
                        </ui:define>
                    </ui:decorate>     

                    <b:column>
                        <b:slider mode="edit" value="#{transactionFormController.hours}" label="#{i18n['calendar.hours']}" min="0" max="23"  disabled="#{transactionFormController.transaction.source.default}"/>
                    </b:column>

                    <b:column>
                        <b:slider mode="edit"  value="#{transactionFormController.minutes}" label="#{i18n['calendar.minutes']}" min="0" max="59"  disabled="#{transactionFormController.transaction.source.default}"/>
                    </b:column>

                </h:panelGroup>  
            </ui:define>     
        </ui:composition>
    </h:body>
</html>