<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition template="/template/list/layout.xhtml">
            <f:metadata>
                <f:viewAction action="#{transactionListController.clear()}" />
            </f:metadata>

            <ui:param name="context" value="#{i18n['transaction.context.list']}" />
            <ui:param name="includeFooter" value="true"/>
            <ui:param name="customButtonsOnly" value="true"/>
            <ui:param name="listController" value="#{transactionListController}" />

            <ui:define name="additionalButtons">
                <b:commandButton value="#{i18n['actions.new']}" iconAwesome="plus" oncomplete="$('.newTransactionModal').modal(); return false;" ajax="true" update=":newTransactionModalForm"/>
            </ui:define>
            <ui:define name="workArea" >
                <b:tabView activeIndex="#{transactionListController.tab}" >
                    <b:tab id="all" title="#{i18n['transaction.list.tab.all']}" style="width: 33.34%; text-align: center;" onclick="ajax:transactionListController.search(0)" update="@form">
                        <ui:param name="listController" value="#{transactionAllListController}" />
                        <ui:param value="#{transactionAllListController.page}" name="page"/>
                        <ui:fragment rendered="#{transactionListController.tab == 0}">  
                            <ui:include src="listTemplate.xhtml" />
                        </ui:fragment>
                    </b:tab>
                    <b:tab id="income" title="#{i18n['transaction.list.tab.income']}" style="width: 33.33%; text-align: center;" onclick="ajax:transactionListController.search(1)" update="@form">
                        <ui:param name="listController" value="#{transactionIncomeListController}" />
                        <ui:param value="#{transactionIncomeListController.page}" name="page"/>
                        <ui:fragment rendered="#{transactionListController.tab == 1}">                            
                            <ui:include src="listTemplate.xhtml" />  
                        </ui:fragment>                              
                    </b:tab>
                    <b:tab id="outcome" title="#{i18n['transaction.list.tab.outcome']}" style="width: 33.33%; text-align: center;" onclick="ajax:transactionListController.search(2)" update="@form">
                        <ui:param name="listController" value="#{transactionOutcomeListController}" />
                        <ui:param value="#{transactionOutcomeListController.page}" name="page"/>
                        <ui:fragment rendered="#{transactionListController.tab == 2}">  
                            <ui:include src="listTemplate.xhtml" />  
                        </ui:fragment>                        
                    </b:tab>
                </b:tabView>
            </ui:define>
            <ui:define name="additionalModal">
                <ui:include src="newTransactionTypeModal.xhtml" /> 
            </ui:define>
        </ui:composition>
    </h:body>
</html>