<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        <ui:composition> 
            <b:modal id="newTransactionModal" title="#{i18n['transaction.newTransactionType.modal.title']}" styleClass="newTransactionModal">
                <h:form id="newTransactionModalForm">          
                    <div class="work-area-buttons">
                        <b:commandButton value="#{i18n['transaction.button.income']}" look="success" actionListener="#{transactionFormController.newIncome()}"/>
                        <b:commandButton value="#{i18n['transaction.button.outcome']}" look="danger" actionListener="#{transactionFormController.newOutcome()}"/>
                    </div>
                </h:form>
            </b:modal>
        </ui:composition>
    </h:body>
</html>
